<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="icon" type="image/png" href="~/Content/Images/favicon.png" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div id="map"></div>

    <aside>
        <div class="asideHandle">
            <div class="glyphicon glyphicon-option-vertical"></div>
        </div>

        <div id="tabs">
            <!-- ko if: isStarted() === true -->
            <ul class="tabs" data-bind="css: { oneTab: selectedViewGroup().views.length == 1, twoTabs: selectedViewGroup().views.length == 2, threeTabs: selectedViewGroup().views.length == 3 }, foreach: selectedViewGroup().views">
                <li class="tab" data-bind="click: function() { $root.selectedViewGroup().selectedView($data); }, css: { active: $root.selectedViewGroup().selectedView() == $data }, text: $data.title"></li>
            </ul>
            <!-- /ko -->
        </div>

        <div class="content">
            @RenderBody()
        </div>

        <div class="progressIndicator">
            <img src="~/Content/Images/ajax-loader.gif" width="43" height="11" />
        </div>
    </aside>

    <footer>
        <div class="copyright">
            
            @if (HttpContext.Current.User.Identity.IsAuthenticated)
            {
                <p>ZALOGOWANY JAKO <b style="text-transform: uppercase">@HttpContext.Current.User.Identity.Name</b> | @Html.ActionLink("WYLOGUJ", "Logout", "Account", null, new { @class = "btn btn-xs btn-primary" })</p>
            }
            else
            {
                <p>@Html.ActionLink("ZALOGUJ", "Login", "Account", null, new { @class = "btn btn-xs btn-primary" })</p>
            }
            <p>Copyright &copy; 2017 Kamil Dzierlęga. All rights reserved.</p>
        </div>

        <div class="logoDescription">
            <a href="@Url.Action("Index", "Home")">GłogowskiBUS</a>
            <div>ROZKŁAD JAZDY AUTOBUSÓW MIEJSKICH W GŁOGOWIE</div>
        </div>
        
        <div class="dspLogo">
            <a href="https://devstyle.pl/daj-sie-poznac/" target="_blank"><img src="~/Content/Images/dsp2017-2.png" /></a>
        </div>

        <div class="lastUpdate">
            <div>Ostatnia aktualizacja rozkładu:</div>
            <div>16 lipca 2017</div>
        </div>
    </footer>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/knockout-3.4.2.js"></script>

    <script src="~/Scripts/Maps.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD44zRKQDHDs7dMdwhXP7a8XjJzwuuFNJA&callback=initMap"></script>
    
    <script src="~/Scripts/MarkerIcons.js"></script>
    <script src="~/Scripts/ServerTime.js"></script>
    <script src="~/Scripts/Common.js"></script>
    <script src="~/Scripts/GoogleMapsDirections.js"></script>
    <script src="~/Scripts/Engine.js"></script>

    <script src="~/Scripts/ViewModels/BusStop.js"></script>
    <script src="~/Scripts/ViewModels/Point.js"></script>
    <script src="~/Scripts/ViewModels/DepartureTime.js"></script>
    <script src="~/Scripts/ViewModels/Route.js"></script>
    <script src="~/Scripts/ViewModels/BusLine.js"></script>
    <script src="~/Scripts/ViewModels/Bus.js"></script>

    <script src="~/Scripts/ViewModels/Admin/BusStopsListViewModel.js"></script>
    <script src="~/Scripts/ViewModels/Admin/BusLinesListViewModel.js"></script>
    <script src="~/Scripts/ViewModels/Admin/AddBusStopViewModel.js"></script>
    <script src="~/Scripts/ViewModels/Admin/EditBusStopViewModel.js"></script>
    <script src="~/Scripts/ViewModels/Admin/AddBusLineViewModel.js"></script>
    <script src="~/Scripts/ViewModels/Admin/EditBusLineViewModel.js"></script>

    <script src="~/Scripts/ViewModels/Home/TimeTableViewModel.js"></script>
    <script src="~/Scripts/ViewModels/Home/FindRouteViewModel.js"></script>

    <script src="~/Scripts/ViewModels/Account/LoginViewModel.js"></script>

    <script src="~/Scripts/ViewModels/Shared/NavigationViewModel.js"></script>

    <script>
        $(document).ready(function()
        {
            $('aside > .asideHandle').click(toggleAsideVisibility);
        });
    </script>
</body>
</html>