@model GlogowskiBus.UI.Models.HomeBusPositionsViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="busStopsList" data-bind="visible: selectedView().name == 'List' && selectedView().selectedTab() == 'PRZYSTANKI'">
    <div class="itemsList" data-bind="foreach: busStops.toArray()">
        <div data-bind="click: function() { $root.selectedBusStop($data); return true; }, css: { active: $root.selectedBusStop() == $data }">
            <div>
                <input data-bind="checked: $root.selectedBusStop() == $data, checkedValue: true" type="radio" />
            </div>
            <div>
                <p data-bind="text: 'PRZYSTANEK #' + id"></p>
                <p data-bind="text: 'Nazwa: ' + name()"></p>
                <p data-bind="text: 'Pozycja: ' + latitude() + ', ' + longitude()"></p>
                <p data-bind="text: 'Linie: ' + $root.busLinesNumbersListForBusStop($data)"></p>
            </div>
        </div>
    </div>
    <button class="btn btn-default" data-bind="click: function() { busStopsListAddBtnClick(); }">DODAJ</button>
    <button class="btn btn-default" data-bind="click: function() { busStopsListEditBtnClick(); }, enable: selectedBusStop">EDYTUJ</button>
    <button class="btn btn-default" data-bind="click: function() { busStopsListDeleteBtnClick(); }, enable: selectedBusStop">USUŃ</button>
</div>

<div id="busLinesList" data-bind="visible: selectedView().name == 'List' && selectedView().selectedTab() == 'LINIE'">
    <button class="btn btn-default">Nowa linia</button>
    <div data-bind="foreach: busLines.toArray()">
        <p>
            LINIA <span data-bind="text: busNumber"></span>
            <button class="btn btn-xs btn-default">Edytuj</button>
            <button class="btn btn-xs btn-default">Usuń</button>
            <button class="btn btn-xs btn-default">Nowa trasa</button>
        </p>
        <div class="itemsList" data-bind="foreach: $data.routes.toArray()">
            <div data-bind="click: function() { $root.selectedRoute($data); return true; }, css: { active: $root.selectedRoute() == $data }">
                <div>
                    <input data-bind="checked: $root.selectedRoute() == $data, checkedValue: true" type="radio" />
                </div>
                <div>
                    <p>
                        TRASA
                        <button class="btn btn-xs btn-default">Edytuj</button>
                        <button class="btn btn-xs btn-default">Usuń</button>
                    </p>
                    <p data-bind="text: getAllBusStops().getFirst().name() + ' - ' + getAllBusStops().getLast().name()"></p>
                    <p data-bind="text: indexMark + ' - ' + details, visible: indexMark && details"></p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ko if: selectedView().name == 'AddBusStop' && selectedView().selectedTab() == 'DODAWANIE PRZYSTANKU' -->
    <div id="addBusStop">
        <p>NAZWA</p>
        <input class="form-control" data-bind="value: selectedBusStop().name" />

        <p>POZYCJA</p>
        <table style="width: 100%">
            <tr>
                <td>
                    <input class="form-control" data-bind="value: selectedBusStop().latitude" />
                </td>
                <td>
                    <input class="form-control" data-bind="value: selectedBusStop().longitude" />
                </td>
            </tr>
        </table>

        <button class="btn btn-default" data-bind="click: function() { addBusStopAddBtnClick(); }">DODAJ</button>
        <button class="btn btn-default" data-bind="click: function() { addBusStopCancelBtnClick(); }">ANULUJ</button>
    </div>
<!-- /ko -->

<!-- ko if: selectedView().name == 'EditBusStop' && selectedView().selectedTab() == 'EDYTOWANIE PRZYSTANKU' -->
    <div id="editBusStop">
        <p data-bind="text: 'PRZYSTANEK #' + selectedBusStop().id"></p>
    
        <p>NAZWA</p>
        <input class="form-control" data-bind="value: selectedBusStop().name" />

        <p>POZYCJA</p>
        <table style="width: 100%">
            <tr>
                <td>
                    <input class="form-control" data-bind="value: selectedBusStop().latitude" />
                </td>
                <td>
                    <input class="form-control" data-bind="value: selectedBusStop().longitude" />
                </td>
            </tr>
        </table>

        <button class="btn btn-default" data-bind="click: function() { editBusStopEditBtnClick(); }">EDYTUJ</button>
        <button class="btn btn-default" data-bind="click: function() { editBusStopCancelBtnClick(); }">ANULUJ</button>
    </div>
<!-- /ko -->

<!-- ko if: selectedView().name == 'DeleteBusStop' && selectedView().selectedTab() == 'USUWANIE PRZYSTANKU' -->
    <div id="deleteBusStop">
        <p>NAZWA</p>
        <input class="form-control" data-bind="value: selectedBusStop().name" />

        <p>POZYCJA</p>
        <table style="width: 100%">
            <tr>
                <td>
                    <input class="form-control" data-bind="value: selectedBusStop().latitude" />
                </td>
                <td>
                    <input class="form-control" data-bind="value: selectedBusStop().longitude" />
                </td>
            </tr>
        </table>
        <p data-bind="text: 'Linie: ' + busLinesNumbersListForBusStop(selectedBusStop())"></p>

        <button class="btn btn-default" data-bind="click: function() { deleteBusStopDeleteBtnClick(); }">USUŃ</button>
        <button class="btn btn-default" data-bind="click: function() { deleteBusStopCancelBtnClick(); }">ANULUJ</button>
    </div>
<!-- /ko -->

<script>
window.onload = function()
{
    markerIcons = new MarkerIcons();
    serverTime = new ServerTime(@Model.ServerTimeMilliseconds);

    administrationContext = new AdministrationContext(@Html.Raw(Json.Encode(@Model.BusStops)), @Html.Raw(Json.Encode(@Model.BusLines)));
    ko.applyBindings(administrationContext);

    //function sendAjaxRequest(url, method, data, onSuccess)
    //{
    //    //layoutViewModel.secondsToAutomaticLogOut(600);
    //    $.ajax(url,
    //    {
    //        type: method,
    //        data: data,
    //        success: function(response)
    //        {
    //            console.log(response);
    //            //if (response.Success)
    //            //    displayNewSuccessMessage(response.Success);
    //            //if (response.Fail)
    //            //    displayNewFailMessage(response.Fail);
    //            //onSuccess(response);
    //        },
    //        error: function(response)
    //        {
    //            console.log(response);
    //            //displayNewFailMessage("Problem with connection. Try again, and if the problem persists contact your system administrator.");
    //        }//,
    //        //beforeSend: showProgressIndicator,
    //        //complete: hideProgressIndicator
    //    });
    //}

    //sendAjaxRequest('/api/BusLine', 'POST', 
    //{
    //    Id: 1,
    //    BusNumber: "A",
    //    Routes:
    //    [
    //        {
    //            Id: 2,
    //            Details: 'det',
    //            IndexMark: 'i'
    //        }
    //    ]

    //});
}
</script>
