@model GlogowskiBus.UI.Models.HomeBusPositionsViewModel

@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Autobusy i przystanki";
}

<div id="showHideLines">
    <p>Pokaż/ukryj linie:</p>
    <ul id="busLinesTiles">
        @for (int i = 0; i < Model.BusLines.Count; i++)
        {
            <li class="active">@Model.BusLines[i].BusNumber</li>
        }
    </ul>
    <p>
        <span class="textButton">Pokaż wszystkie</span> | <span class="textButton">Ukryj wszystkie</span>
    </p>
</div>

<script>
    function ServerTime()
    {
        var self = this;

        var serverTime = Number(@Model.ServerTimeMilliseconds);

        var timeDifference = serverTime - new Date().getTime();

        self.now = function()
        {
            return new Date(new Date().getTime() + timeDifference);
        };
    }

    function getPositionBetweenTwoPoints(startPoint, endPoint, currentTimeOffset)
    {
        var latitudeDifference = endPoint.latitude - startPoint.latitude;
        var longitudeDifference = endPoint.longitude - startPoint.longitude;
        var timeRatio = (currentTimeOffset - startPoint.timeOffset) / (endPoint.timeOffset - startPoint.timeOffset);
        var newPointLatitude = startPoint.latitude + latitudeDifference * timeRatio;
        var newPointLongitude = startPoint.longitude + longitudeDifference * timeRatio;
        return new google.maps.LatLng(newPointLatitude, newPointLongitude);
    }

    window.onload = function()
    {
        GrayBusStopMarkerImage = new google.maps.MarkerImage
        (
            '/Content/Images/gray_busstop.png',
            new google.maps.Size(24, 24),
            new google.maps.Point(0, 0),
            new google.maps.Point(12, 12)
        );

        OrangeBusStopMarkerImage = new google.maps.MarkerImage
        (
            //'/Content/Images/orange_busstop2.png',
            //new google.maps.Size(24, 24),
            //new google.maps.Point(0, 0),
            //new google.maps.Point(12, 12)
            '/Content/Images/orange_circle.png',
            new google.maps.Size(12, 12),
            new google.maps.Point(0, 0),
            new google.maps.Point(6, 6)
        );

        OrangeCircleMarkerImage = new google.maps.MarkerImage
        (
            '/Content/Images/orange_circle.png',
            new google.maps.Size(12, 12),
            new google.maps.Point(0, 0),
            new google.maps.Point(6, 6)
        );

        serverTime = new ServerTime();
        markerIcons = new MarkerIcons();
        var context = new Context(@Html.Raw(Json.Encode(@Model.BusStops)), @Html.Raw(Json.Encode(@Model.BusLines)));
        var buses = new Buses(context);

        map.addListener('click', function(e)
        {
            context.busStops.deactivateAll();
            context.routes.hideAll();
        });

        $('#busLinesTiles > li').click(function(e)
        {
            var element = $(e.target);
            var busNumber = element[0].textContent;
            if (element.hasClass('active'))
            {
                element.removeClass('active');
                context.busLines.hide(busNumber);
            }
            else
            {
                element.addClass('active');
                context.busLines.show(busNumber);
            }
        });
    }
</script>