@model GlogowskiBus.UI.Models.HomeBusPositionsViewModel

@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Autobusy i przystanki";
}

@*<div id="navigation" data-bind="visible: view() == 'Navigation'">
    <p>Pokaż/ukryj linie:</p>
    <ul id="busLinesTiles" data-bind="foreach: busLines">
        <li data-bind="click: function() { hidden(!hidden()); }, css: { active: !hidden() }, text: busNumber"></li>
    </ul>
    <p>
        <span class="textButton">Pokaż wszystkie</span> | <span class="textButton">Ukryj wszystkie</span>
    </p>
</div>

<div id="findRoute" data-bind="visible: view() == 'FindRoute'">
</div>*@

<div id="timeTable" data-bind="visible: selectedTab() == tabs[0]">
    <p>PRZYSTANEK</p>
    <select class="form-control" data-bind="options: busStops.toArray(), optionsText: 'name', optionsCaption: '-', value: selectedBusStop"></select>
    <br />

    <!-- ko if: selectedBusStop() -->
    <p>LINIA</p>
    <ul id="busLinesTiles" data-bind="foreach: busLines.toArray()">
        <li data-bind="attr: { title: routes.getFirst().busStops.getFirst().name + ' - ' + routes.getFirst().busStops.getLast().name }, click: function() { $root.selectedDepartureTime($root.getNextDepartureTime($data)) }, css: { active: $root.selectedDepartureTime() && $root.selectedDepartureTime().route.busLine == $data }, text: busNumber"></li>
    </ul>
    <!-- /ko -->

    <!-- ko if: selectedBusStop() && selectedDepartureTime() -->
    <ul class="dayOfWeek" data-bind="foreach: serverTime.daysOfWeek">
        <li data-bind="css: { active: $data == $root.selectedDayOfWeek() }, click: function(data, event) { $root.selectedDayOfWeek($data); }, text: $data"></li>
    </ul>
        
    <table cellspacing="0" class="timeTable">
        <tr>
            <td>
                <table class="busStops" data-bind="foreach: selectedBusStops()">
                    <tr>
                        <td data-bind="css: { active: timeOffset == 0 }, text: timeOffset == 0 ? timeOffset : (timeOffset > 0 ? '+' + timeOffset : '')"></td>
                        <td data-bind="click: function(data, event) { $root.selectedBusStop($root.selectedDepartureTime().route.busStops.getAt($index())); }, css: { active: timeOffset == 0 }, text: name"></td>
                    </tr>
                </table>
            </td>

            <td>
                <table class="departureTimes" data-bind="foreach: selectedDepartureTimes()">
                    <tr data-bind="visible: $root.selectedDepartureTimes()[$index()].length > 0">
                        <td>
                            <div data-bind="text: $index"></div>
                        </td>
                        <td data-bind="foreach: $root.selectedDepartureTimes()[$index()]">
                            <div data-bind="attr: { title: departureTime.route.details }, click: function() { $root.selectedDepartureTime(departureTime); }, css: { active: departureTime === $root.selectedDepartureTime() }">
                                <span data-bind="text: minutes < 10 ? '0' + minutes : minutes"></span><sub data-bind="text: departureTime.route.indexMark"></sub>
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>

    <!-- /ko -->
</div>

<script>
    window.onload = function()
    {
        markerIcons = new MarkerIcons();
        serverTime = new ServerTime(@Model.ServerTimeMilliseconds);

        timeTableContext = new TimeTableContext(@Html.Raw(Json.Encode(@Model.BusStops)), @Html.Raw(Json.Encode(@Model.BusLines)));
        ko.applyBindings(timeTableContext);
    }
</script>